[submodule "quint-website-frontend"]
	path = quint-website-frontend
	url = git@github.com:micio86dev/quint-website-frontend.git
[submodule "quint-website-backend"]
	path = quint-website-backend
	url = git@github.com:micio86dev/quint-website-backend.git
